<?xml version="1.0" encoding="UTF-8"?>

<juiceboxgallery 

	galleryTitle="Donald Glaser: Education at Caltech"

>
  <image imageURL="images/logo Archives FB.jpg"
	thumbURL="thumbs/logo Archives FB.jpg"
	linkURL="images/logo Archives FB.jpg"
	linkTarget="_blank"
	sourcePath="N:\1 Digital Archives\Facebook\logo Archives FB.jpg">
    <title><![CDATA[]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/sign_Archives_website_Page_1.jpg"
	thumbURL="thumbs/sign_Archives_website_Page_1.jpg"
	linkURL="images/sign_Archives_website_Page_1.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\epiccio\Desktop\Glaser photogallery\sign_Archives_website_Page_1.jpg">
    <title><![CDATA[]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/Glaser_OH_California_Page_1.jpg"
	thumbURL="thumbs/Glaser_OH_California_Page_1.jpg"
	linkURL="images/Glaser_OH_California_Page_1.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\epiccio\Desktop\Glaser photogallery\Glaser_OH_California_Page_1.jpg">
    <title><![CDATA[Glaser's recollections on choosing  Caltech for his graduate studies.]]></title>
    <caption><![CDATA[Excerpt from: Donald Glaser, “The Bubble Chamber, Bioengineering, Business Consulting, and Neurobiology,” an oral history  conducted in 2003-2004 by Eric Vettel. Regional Oral Office, The Bancroft Library, University of California, Berkeley, 2006.]]></caption>
  </image>
  <image imageURL="images/Glaser_Millikan.jpg"
	thumbURL="thumbs/Glaser_Millikan.jpg"
	linkURL="images/Glaser_Millikan.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\epiccio\Desktop\Glaser photogallery\Glaser_Millikan.jpg">
    <title><![CDATA[Glaser's recollections of Robert A. Millikan, one of Caltech founders, and a Nobel Laureate.]]></title>
    <caption><![CDATA[Excerpt from: Donald Glaser, “The Bubble Chamber, Bioengineering, Business Consulting, and Neurobiology,” an oral history  conducted in 2003-2004 by Eric Vettel. Regional Oral Office, The Bancroft Library, University of California, Berkeley, 2006.]]></caption>
  </image>
  <image imageURL="images/1.32-4 Ram Throop.jpg"
	thumbURL="thumbs/1.32-4 Ram Throop.jpg"
	linkURL="images/1.32-4 Ram Throop.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\epiccio\Desktop\Glaser photogallery\Module 1\1.32-4 Ram Throop.jpg">
    <title><![CDATA[Robert Andrew Millikan standing in front of Throop Hall.]]></title>
    <caption><![CDATA[Undated	]]></caption>
  </image>
  <image imageURL="images/labnotes 92-094.jpg"
	thumbURL="thumbs/labnotes 92-094.jpg"
	linkURL="images/labnotes 92-094.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\epiccio\Desktop\Glaser photogallery\Module 1\labnotes 92-094.jpg">
    <title><![CDATA[Excerpts from Millikan's oil-drop experiment laboratory notebooks, which won him the Nobel Prize in Physics in 1923.]]></title>
    <caption><![CDATA[October 1911-March 1912]]></caption>
  </image>
  <image imageURL="images/30.4-1.jpg"
	thumbURL="thumbs/30.4-1.jpg"
	linkURL="images/30.4-1.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\epiccio\Desktop\Glaser photogallery\Module 1\30.4-1.jpg">
    <title><![CDATA[“Jesus saves but Millikan gets credit.” Caltech students added their own bit of graffiti to this steam shovel excavating foundations for the Crellin Laboratory of Chemistry.]]></title>
    <caption><![CDATA[1937]]></caption>
  </image>
  <image imageURL="images/Glaser_Anderson.jpg"
	thumbURL="thumbs/Glaser_Anderson.jpg"
	linkURL="images/Glaser_Anderson.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\epiccio\Desktop\Glaser photogallery\Glaser_Anderson.jpg">
    <title><![CDATA[Glaser's recollections of his work with Nobel Laureate Carl Anderson.]]></title>
    <caption><![CDATA[Excerpt from: Donald Glaser, “The Bubble Chamber, Bioengineering, Business Consulting, and Neurobiology,” an oral history  conducted in 2003-2004 by Eric Vettel. Regional Oral Office, The Bancroft Library, University of California, Berkeley, 2006.]]></caption>
  </image>
  <image imageURL="images/1.2-4.jpg"
	thumbURL="thumbs/1.2-4.jpg"
	linkURL="images/1.2-4.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\epiccio\Desktop\Glaser photogallery\Module 1\1.2-4.jpg">
    <title><![CDATA[Carl D. Anderson beside his apparatus, with which he discovered the positron in 1932. This apparatus measures the energies of the individual cosmic ray-particles."]]></title>
    <caption><![CDATA[1932]]></caption>
  </image>
  <image imageURL="images/Anderson_notes.jpg"
	thumbURL="thumbs/Anderson_notes.jpg"
	linkURL="images/Anderson_notes.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\epiccio\Desktop\Glaser photogallery\Anderson_notes.jpg">
    <title><![CDATA[Carl Anderson’s teaching notes on Airy’s experiment.]]></title>
    <caption><![CDATA[1938]]></caption>
  </image>
  <image imageURL="images/Glaser_Toman.jpg"
	thumbURL="thumbs/Glaser_Toman.jpg"
	linkURL="images/Glaser_Toman.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\epiccio\Desktop\Glaser photogallery\Glaser_Toman.jpg">
    <title><![CDATA[Glaser's recollections of Richard C. Tolman. At Caltech, Tolman served as professor of physical chemistry and mathematical physics.]]></title>
    <caption><![CDATA[Excerpt from: Donald Glaser, “The Bubble Chamber, Bioengineering, Business Consulting, and Neurobiology,” an oral history  conducted in 2003-2004 by Eric Vettel. Regional Oral Office, The Bancroft Library, University of California, Berkeley, 2006.]]></caption>
  </image>
  <image imageURL="images/1.49-3.jpeg"
	thumbURL="thumbs/1.49-3.jpeg"
	linkURL="images/1.49-3.jpeg"
	linkTarget="_blank"
	sourcePath="C:\Users\epiccio\Desktop\Glaser photogallery\Module 1\1.49-3.jpeg">
    <title><![CDATA[Richard Chace Tolman.]]></title>
    <caption><![CDATA[Ca. 1935]]></caption>
  </image>
  <image imageURL="images/Tolman_paper.jpg"
	thumbURL="thumbs/Tolman_paper.jpg"
	linkURL="images/Tolman_paper.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\epiccio\Desktop\Glaser photogallery\Tolman_paper.jpg">
    <title><![CDATA[The first page of one of Tolman papers, "The Present Status of Cosmology."]]></title>
    <caption><![CDATA[1936]]></caption>
  </image>
  <image imageURL="images/Glaser_Smithe.jpg"
	thumbURL="thumbs/Glaser_Smithe.jpg"
	linkURL="images/Glaser_Smithe.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\epiccio\Desktop\Glaser photogallery\Glaser_Smithe.jpg">
    <title><![CDATA[Glaser's recollections of William Smythe. Famous for his electricity and magnetism course at Caltech, Smythe taught at least six Nobel Prize winners.]]></title>
    <caption><![CDATA[Excerpt from: Donald Glaser, “The Bubble Chamber, Bioengineering, Business Consulting, and Neurobiology,” an oral history  conducted in 2003-2004 by Eric Vettel. Regional Oral Office, The Bancroft Library, University of California, Berkeley, 2006.]]></caption>
  </image>
  <image imageURL="images/Smythe_photo.jpg"
	thumbURL="thumbs/Smythe_photo.jpg"
	linkURL="images/Smythe_photo.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\epiccio\Desktop\Glaser photogallery\Module 3\Smythe_photo.jpg">
    <title><![CDATA[William Ralph Smythe.]]></title>
    <caption><![CDATA[Undated]]></caption>
  </image>
  <image imageURL="images/Smythe_notes.jpg"
	thumbURL="thumbs/Smythe_notes.jpg"
	linkURL="images/Smythe_notes.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\epiccio\Desktop\Glaser photogallery\Module 3\Smythe_notes.jpg">
    <title><![CDATA[William Smythe’s lecture notes on freely charged cylinder.]]></title>
    <caption><![CDATA[Undated]]></caption>
  </image>
</juiceboxgallery>